:root{
    --primary-color: #313131;
    --secondary-color: #bebebe;
    --background-color: rgb(235, 235, 235);
    --black: #070707;
    --grey: #666666;
    --blue:  rgb(11, 221, 197);
    --red: lightcoral;
    --red-background: rgb(255, 221, 221);
    --mb-alto: 1.5rem;
    --mb-bajo: .8rem;
    --size: 1.2rem;
}
.salto{
    background: red;
    margin-bottom: 1rem;
}
.discus {
    width: 60%;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    padding: 4vh 4vw;
    display: flex;
    justify-content: space-between;
}

a{
    color: var(--blue);
    display: inline-block;
    text-decoration: none;
}
b{
    color: rgb(80, 79, 80);
}
.nav{
    width: 21vw;
    height: 92vh;
    border-right: 1px solid var(--secondary-color);
    position: fixed;
    user-select: none;
}
.author {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2.5rem;
    color: ivory;
    width: 78%;
    background: rgb(11, 221, 197);
    /* background: dodgerblue; */
    border: 3px solid slategrey;
    padding: .3rem .5rem;
    border-radius: 4px;
    /* user-select: none; */
    transform: skew(-16deg, 0deg);
}
.job{
    font-size: 1rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
    display: none;
}
/* tags */
.tags{
    /* width: 80%; */
    margin-bottom: 28vh;
}
.tags .tag{
    display: inline-block;
    margin-bottom: .5rem;
    margin-right: .5rem;
}
.tag{
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
    font-size: 1rem;
    border: 1px solid var(--secondary-color);
    padding: .4rem 1.2rem;
    border-radius: 25px;
}
.tag:hover{
    color: var(--secondary-color);
}
/* section links */
.section-link{
    color: #313131;
    display: block;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    font-weight: 800;
    padding: .5rem 0;
    border-bottom: 1px solid var(--secondary-color);
}
/* posts */
.posts{
    width: 81vw;
    padding: 0 5rem;
    margin-left: 21vw;
}
.posts h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    /* text-align: center; */
}
.post{
    width: 100%;
    margin-bottom: var(--mb-alto);
    padding: 1rem 2.5rem;
    border: 1px solid var(--secondary-color);
    /* border-radius: 25px; */
}
.post-title{
    display: inline-block;
    color: var(--black);
    font-size: 1.6rem;
    text-decoration: none;
    margin-bottom: .4rem;
}
.post-date{
    color: var(--secondary-color);
    font-size: 1rem;
    margin-bottom: var(--mb-bajo);
}
.post-description{
    color: var(--primary-color);
    margin-bottom: .5rem;
    font-size: var(--size);
}
.post-link{
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 1rem;
}
.post-tags{
    display: flex;
}
.post-tag{
    color: var(--secondary-color);
    margin-right: .3rem;
}
/* post */
.post-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
header{
    width: 100%;
    margin-bottom: 2rem;
}
.back-button{
    font-weight: 700;
    color: var(--black);
    display: flex;
    font-size: 1rem;
    align-items: center;
}
.img-back{
    width: 1rem;
    margin-right: 1rem;
    margin-top: 2px;
}
.posts .love {
    display: none;
}
.love {
    font-size: .875rem;
}
.img-heart {
    width: .875rem;
    margin-bottom: -3px;
    margin-left: 1px;
    margin-right: 1px;
}
.article{
    width: 60%;
    padding: 1rem 2rem;
}
.content-title {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}
.data-post{
    margin-bottom: 2.2rem;
    display: flex;
}
.author-post{
    font-size: 1rem;
    font-weight: 600;
}
.separador{
    margin: 0 .5rem;
}
.author-post > span {
    color: var(--secondary-color);
    font-weight: normal;
}
.content-date {
    color: var(--secondary-color);
    font-size: 1rem;
}
/* class content */
p.parrafo{
    color: var(--primary-color);
    line-height: 1.5;
    margin-bottom: var(--mb-alto);
    font-size: var(--size);
}

p.sub-titulo {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: var(--mb-alto);
}
.content-link {
    display: inline-block;
    font-weight: 800;
    color: var(--blue);
}
.content-code{
    display: inline-block;
    width: 93%;
    background: var(--background-color);
    padding: 1.5rem;
    font-size: var(--size);
    margin-bottom: var(--mb-alto);
    color: #85618B;
}
.content-code b {
    color: #85618B;
}
ul, ol{
    padding: 1rem 3rem;
    color: var(--primary-color);
    margin-bottom: var(--mb-alto);
}
li {
    font-size: var(--size);
    margin-bottom: var(--mb-bajo);
}
.content-mark{
    color: var(--red);
    background: var(--red-background);
    padding: 1px 6px;
}
.content-img-container{
    width: 100%;
    margin-bottom: var(--mb-alto);
    display: flex;
    justify-content: center;
}
.content-img-container > img {
    width: 60%;
    margin-bottom: .5rem;
}
.content-img-container > .principal {
    width: 100%;
}
.content-footer{
    color: var(--secondary-color);
    font-size: 1rem;
    text-align: center;
    margin-bottom: var(--mb-alto);
}
blockquote {
    font-size: var(--size);
    color: var(--primary-color);
    padding: 1rem 3rem;
    border-left: 3px solid var(--blue);
    margin-bottom: var(--mb-alto);
    font-style: italic;
}
/* Movil */
@media only screen and (min-width: 320px) and (max-width: 736px){
    :root{
        --size: 1.1rem;
    }
    body{
        /* display: flex; */
        flex-wrap: wrap;
        /* flex-direction: column; */
    }
    .nav{
        width: 100%;
        height: auto;
        position: static;
        border-right: none;
        margin-bottom: 1rem;
    }
    .posts{
        padding: 0 0rem;
        margin-left: 0;
    }
    .post{
        width: 85%;
    }
    .article {
        width: 85%;
    }
    .content-code{
        width: 80%;
    }
    ul{
        padding: 1rem 1.5rem;
    }
    .content-img-container > img {
        width: 100%;
        margin-bottom: .5rem;
    }
    .content-code{
        font-size: 1rem;
    }
    .discus {
        width: 80%;
    }
    .tags{
        margin-bottom: 0;
    }
    footer .love{
        display: none;
    }
    .posts .love{
        display: block;
    }
    .author{
        width: 60%;
    }
}
